/* src/App.css */

.App {
  text-align: center;
}

.notes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 8px;
  width: 300px;
  text-align: left;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
